body {
    background-color: #1d1e26; /* Gris foncé, légèrement bleu */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.button {
    background-color: white; /* Bouton blanc */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition-property: top, left; 
    transition-duration: 0.25s; 
}
